

.row {
  display: flex;
}

.row-1 {
  align-items: center;
}

.row-2 {
  align-items: center;
}

.row-3 {
  align-items: center;
}

.board {

}

.restart {
  font-size: 20px;
}

.restart:hover {
  cursor: pointer;
}